@import "tailwindcss";

/* @import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap"); */

:root {
  /* ======================
   Stroke Card
====================== */
  --card-1-stroke: #e67339;
  --card-2-stroke: #e6b363;
  --card-3-stroke: #eb3828;
  --card-4-stroke: #a6a09d;
  --card-5-stroke: #99938a;
  --card-6-stroke: #b5c79b;

  --card-base-stroke: #e0e0e0;
  --card-copy: #000;

  /* ======================
   Infinity Contact
====================== */
  --base-100: #fff;
  --base-200: #4f4f4f;
  --base-300: #0f0f0f;

  /* ======================
 Glowing Light
====================== */
  --light: #f2eec2;
  --dark: #141414;
  --mouse-x: 0;
  --mouse-y: 0;
}

/* ======================
   Stroke Per Card
====================== */

/* Stroke 1 */
#card-1 .svg-stroke-1 svg path {
  stroke: var(--card-1-stroke);
}

#card-2 .svg-stroke-1 svg path {
  stroke: var(--card-2-stroke);
}

#card-3 .svg-stroke-1 svg path {
  stroke: var(--card-3-stroke);
}

#card-4 .svg-stroke-1 svg path {
  stroke: var(--card-4-stroke);
}

#card-5 .svg-stroke-1 svg path {
  stroke: var(--card-5-stroke);
}

#card-6 .svg-stroke-1 svg path {
  stroke: var(--card-6-stroke);
}

/* Stroke 2 (secondary stroke uses same color) */
#card-1 .svg-stroke-2 svg path {
  stroke: var(--card-1-stroke);
}

#card-2 .svg-stroke-2 svg path {
  stroke: var(--card-2-stroke);
}

#card-3 .svg-stroke-2 svg path {
  stroke: var(--card-3-stroke);
}

#card-4 .svg-stroke-2 svg path {
  stroke: var(--card-4-stroke);
}

#card-5 .svg-stroke-2 svg path {
  stroke: var(--card-5-stroke);
}

#card-6 .svg-stroke-2 svg path {
  stroke: var(--card-6-stroke);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: #C8FF00 black;
}

body {
  font-family: "Google Sans", sans-serif;
}

.profile-names {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.profile-images {
  gap: 1rem !important;
  /* 4px */
}

img {
  border-radius: 0.3rem;
}

@media (max-width: 900px) {
  section {
    flex-direction: column-reverse;
  }

  .profile-images {
    max-width: 90%;
  }

  .img {
    width: 60px;
    height: 60px;
  }

  .name h1 {
    font-size: 4rem;
  }

  .profile-names {
    height: 4rem;
  }
}