@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

.profile-names {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.profile-images {
  gap: 1rem !important; /* 4px */
}

img {
  border-radius: 0.3rem;
}

@media (max-width: 900px) {
  section {
    flex-direction: column-reverse;
  }
  
  .profile-images {
    max-width: 90%;
  }
  
  .img {
    width: 60px;
    height: 60px;
  }
  
  .name h1 {
    font-size: 4rem;
  }
  
  .profile-names {
    height: 4rem;
  }
}